<main>
    <nav>
        <div class="nav-left">
            <button nz-button nzType="primary">返回</button>
            <p>用户管理-举报记录</p>
        </div>
        <div class="nav-right">
            <div class="right-button">
                <button nz-button>无违规</button>
                <button nz-button>违规处理</button>
            </div>
            <ng-template>
                <div>
                    <button nz-button>撤销违规</button>
                </div>
            </ng-template>
        </div>
    </nav>
    <section>
        <div>
            <div class="title">
                <p>举报审核结果</p>
            </div>
            <div>
                <nz-descriptions [nzColumn]="3" nzBordered nzLayout="vertical">
                    <nz-descriptions-item nzTitle="审核用户">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核时间">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核结果">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="违规原因">
                        用户ABC
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div class="title">
                <p>基础信息</p>
            </div>
            <div>
                <nz-descriptions [nzColumn]="3" nzBordered nzLayout="vertical">
                    <nz-descriptions-item nzTitle="审核用户">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核时间">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核结果">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="违规原因">
                        用户ABC
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div class="title">
                <p>举报原因</p>
            </div>
            <div>
                <nz-descriptions [nzColumn]="3" nzBordered nzLayout="vertical">
                    <nz-descriptions-item nzTitle="审核用户">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核时间">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核结果">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="违规原因">
                        用户ABC
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div class="title">
                <p>作品信息</p>
            </div>
            <div>
                <nz-descriptions [nzColumn]="3" nzBordered nzLayout="vertical">
                    <nz-descriptions-item nzTitle="审核用户">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核时间">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="审核结果">
                        用户ABC
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="违规原因">
                        用户ABC
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div class="title">
                <p>评论内容</p>
            </div>
            <div>
                评论内容<br />
                没啥评论的，随便说一句算了
            </div>
        </div>
    </section>
</main>