<section *ngIf="content$ | async; let content">

    <!-- modal -->
    <nz-modal [(nzVisible)]="modal.modalToggle" [nzTitle]="modal.authTitle" [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel()">
        <div *ngIf="modal.modalAuthType === 'authAccept'">
            <p>是否确认审核通过？<br />审核通过后无法撤回，请谨慎操作。</p>
        </div>
        <div *ngIf="modal.modalAuthType === 'authDecline'">
            <textarea class="modalDeclineInput" #declineInput></textarea>
        </div>
        <ng-template #modalFooter>
            <div>
                <button nz-button nzType="default" (click)="handleCancel()">返回</button>
                <button *ngIf="modal.modalAuthType === 'authAccept'" nz-button nzType="primary"
                    (click)="handleConfirm('confirm')">确认</button>
                <button *ngIf="modal.modalAuthType === 'authDecline'" nz-button nzType="primary"
                    (click)="handleConfirm('decline')">确认</button>
            </div>
        </ng-template>

    </nz-modal>


    <!-- modal -->



    <div class="title">
        <div class="title-left">
            <button nz-button nzType="primary" (click)="backToList()"><i nz-icon nzType="left"></i>返回</button>
            <p>审核管理-实名认证审核</p>
        </div>
        <div>
            <div *ngIf="content.result === 1">
                <button nz-button nzType="primary" class="margin-button"
                    (click)="showModal('modalAccept')">审核通过</button>
                <button nz-button nzType="primary" (click)="showModal('modalDecline')">审核拒绝</button>
            </div>

            <div *ngIf="content.result === 2">
                <button nz-button nzType="primary" (click)="showModal('modalReconsider')">重新通过</button>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="title">基础信息</div>
        <div class="content">

            <nz-descriptions [nzColumn]="3" nzBordered nzLayout="vertical">
                <nz-descriptions-item nzTitle="用户名称">
                    <p>{{content.nickname}}</p>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="用户ID">{{content.uid}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="申请时间">{{ moment(content.start_time).format('YYYY-MM-DD')}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="真实姓名">{{content.real_name}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="身份证号">{{content.card_no}}</nz-descriptions-item>
            </nz-descriptions>

        </div>
    </div>


    <div class="identify">
        <div class="title">身份证照片</div>
        <div class="content">
            <div class="content-item">
                <p>手持身份证照片</p>
                <div>
                    <img src='{{content.face}}' />
                </div>

            </div>
            <div class="content-item">
                <p>身份证正面照片</p>
                <div>
                    <img src='{{content.front}}' />
                </div>
            </div>
            <div class="content-item">
                <p>身份证反面照片</p>
                <div>
                    <img src='{{content.back}}' />
                </div>
            </div>
        </div>
    </div>

</section>