<main>
    <section class="menu">
        <div class="menu-title">用户管理-用户列表</div>
        <div class="menu-searchbar">
            <form [formGroup]="form">
                <div nz-row [nzGutter]="24" nzJustify="start">

                    <div class="menu-searchbar-div first-searchbar" nz-col nzSpan="3">
                        <label>用户ID：</label>

                        <input nz-input OnlyNumber="true" class="review__menu-searchbar-item_input" placeholder="请输入"
                            formControlName="id" />
                    </div>
                    <div class="menu-searchbar-div" nz-col nzSpan="3">
                        <label>用户名称：</label>
                        <input nz-input class="review__menu-searchbar-item_input" placeholder="请输入"
                            formControlName="nickname" />
                    </div>
                    <div class="menu-searchbar-div" nz-col nzSpan="6">
                        <div>
                            <label>注册时间：</label>
                        </div>
                        <div>
                            <nz-date-picker class="date-input" nzFormat="yyyy/MM/dd" nzPlaceHolder="Select Time"
                                formControlName="start_time">
                            </nz-date-picker>
                            --
                            <nz-date-picker class="date-input" nzFormat="yyyy/MM/dd" nzPlaceHolder="Select Time"
                                formControlName="end_time">
                            </nz-date-picker>
                        </div>
                    </div>
                </div>
            </form>
            <div class="menu-searchbar-confirm">
                <button nz-button nzType="primary" (click)="search()">
                    <i nz-icon nzType="search"></i>搜索
                </button>
                <button nz-button nzType="default" role="button" (click)="reset()">
                    <i nz-icon nzType="close"></i>重置
                </button>
            </div>
        </div>
    </section>

    <section class="table-section">
        <nz-table class="table" #basicTable [nzData]="tableData$|async" [nzFrontPagination]="false" [nzTotal]="total"
            [(nzPageSize)]="tableConfig.pageSize" [(nzPageIndex)]="tableConfig.pageIndex"
            [nzLoading]="tableLoadingToggle" (nzQueryParams)="onQueryParamsChange($event)" [nzShowQuickJumper]="true">
            <thead>
                <tr>
                    <th>用户ID</th>
                    <th>用户名称</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.uid }}</td>
                    <td>{{ data.nickname }}</td>
                    <td>{{ moment(data.registertime).format('YYYY/MM/DD') }}</td>
                    <td (click)="navigateToDetail(data.uid)"><a>查看详情</a></td>
                </tr>
            </tbody>
            <div style="position: relative;">
                <button nz-button nzType="primary" style="position: absolute;top:15px" (click)="download()">下载</button>
            </div>
        </nz-table>

    </section>
</main>