<ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="审核管理" nzOpen>
        <ul>
            <li nz-menu-item nzTitle="作品审核" [routerLink]="['/index/review/arts-review']"
                routerLinkActive="router-link-active">
                作品审核
            </li>
            <li nz-menu-item nzTitle="实名认证审核" [routerLink]="['/index/customer/customer-auth']"
                routerLinkActive="router-link-active">
                实名认证审核
            </li>
            <li nz-menu-item nzTitle="身份审核">身份审核
            </li>
        </ul>
    </li>

    <li nz-submenu nzTitle="用户管理" nzOpen>
        <ul>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/user']" routerLinkActive="router-link-active">
                用户列表
            </li>
            <li nz-menu-item nzTitle="身份审核">身份审核
            </li>
        </ul>
    </li>

    <li nz-submenu nzTitle="Navigation Three">
        <ul>
            <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li>
        </ul>
    </li>
</ul>