<ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="审核管理">
        <ul>
            <li nz-menu-item nzTitle="作品审核" [routerLink]="['/index/review/arts-review']" [queryParams]="{ mode: 0}"
                routerLinkActive="router-link-active">
                作品审核
            </li>
            <li nz-menu-item nzTitle="实名认证审核" [routerLink]="['/index/customer/customer-auth']"
                routerLinkActive="router-link-active">
                实名认证审核
            </li>

        </ul>
    </li>
    <li nz-submenu nzTitle="内容管理">
        <ul>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/goods/goods-published']"
                routerLinkActive="router-link-active">
                已发布作品
            </li>

            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/goods']" routerLinkActive="router-link-active">
                已删除作品
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="财务管理">
        <ul>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/revenue/orderlist']"
                routerLinkActive="router-link-active">
                订单列表
            </li>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/revenue/transrecords']"
                routerLinkActive="router-link-active">
                交易记录
            </li>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/revenue/rechargerecords']"
                routerLinkActive="router-link-active">
                充值记录
            </li>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/revenue/withdrawrecords']"
                routerLinkActive="router-link-active">
                提现记录
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="用户管理">
        <ul>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/user/userlist']"
                routerLinkActive="router-link-active">
                用户列表
            </li>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/user/reportlist']"
                routerLinkActive="router-link-active">
                举报记录
            </li>
            <li nz-menu-item nzTitle="用户列表" [routerLink]="['/index/user/violationlist']"
                routerLinkActive="router-link-active">
                违规记录
            </li>

        </ul>
    </li>

    <li nz-submenu nzTitle="网站管理">
        <ul>
            <li nz-menu-item [routerLink]="['/index/website/banner']" routerLinkActive="router-link-active">Banner</li>
        </ul>
    </li>
    <li nz-submenu nzTitle="后台管理">
        <ul>
            <li nz-menu-item [routerLink]="['/index/backend/admin']" routerLinkActive="router-link-active">角色权限</li>
            <li nz-menu-item [routerLink]="['/index/backend/admin-list']" routerLinkActive="router-link-active">用户管理
            </li>
        </ul>
    </li>
</ul>