<ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="审核管理" nzOpen>
        <ul>
            <li nz-menu-item nzTitle="作品审核" [routerLink]="['/index/review/arts-review']"
                routerLinkActive="router-link-active">
                作品审核
            </li>
            <li nz-menu-item nzTitle="实名认证审核" [routerLink]="['/index/customer/customer-auth']"
                routerLinkActive="router-link-active">
                实名认证审核
            </li>
            <li nz-menu-item nzTitle="身份审核">身份审核
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle=" Navigation Two">
        <ul>
            <li nz-menu-item>Option 5</li>
            <li nz-menu-item>Option 6</li>
            <li nz-submenu nzTitle="Submenu">
                <ul>
                    <li nz-menu-item>Option 7</li>
                    <li nz-menu-item>Option 8</li>
                    <li nz-submenu nzTitle="Submenu">
                        <ul>
                            <li nz-menu-item>Option 9</li>
                            <li nz-menu-item>Option 10</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Three">
        <ul>
            <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li>
        </ul>
    </li>
</ul>