<main>
    <section class="menu">
        <div class="menu-title">用户管理-举报记录</div>
        <div class="menu-nav">
            <nz-radio-group nzButtonStyle="solid" [(ngModel)]="mode">
                <label nz-radio-button class="menu-nav-button" [nzValue]="0" (click)="changeMode()">待处理</label>
                <label nz-radio-button class="menu-nav-button" [nzValue]="1" (click)="changeMode()">已处理</label>
            </nz-radio-group>

        </div>
        <div class="menu-searchbar">
            <form [formGroup]="form">
                <div nz-row [nzGutter]="24" nzJustify="start">

                    <div class="menu-searchbar-div first-searchbar" nz-col nzSpan="3">
                        <label>违规编号：</label>

                        <input nz-input OnlyNumber="true" class="review__menu-searchbar-item_input" placeholder="请输入" />
                    </div>
                    <div class="menu-searchbar-div" nz-col nzSpan="3">
                        <label>举报用户：</label>
                        <input nz-input class="review__menu-searchbar-item_input" placeholder="请输入" />
                    </div>
                    <div class="menu-searchbar-div" nz-col nzSpan="3">
                        <label>被举报用户：</label>
                        <input nz-input class="review__menu-searchbar-item_input" placeholder="请输入" />
                    </div>
                    <div class="menu-searchbar-div" nz-col nzSpan="3">
                        <label>举报内容：</label>
                        <input nz-input class="review__menu-searchbar-item_input" placeholder="请输入" />
                    </div>
                    <div class="menu-searchbar-div" nz-col nzSpan="6">
                        <div>
                            <label>举报时间：</label>
                        </div>
                        <div>
                            <nz-date-picker class="date-input" nzFormat="yyyy/MM/dd" nzPlaceHolder="Select Time">
                            </nz-date-picker>
                            --
                            <nz-date-picker class="date-input" nzFormat="yyyy/MM/dd" nzPlaceHolder="Select Time">
                            </nz-date-picker>
                        </div>
                    </div>
                </div>
            </form>
            <div class="menu-searchbar-confirm">
                <button nz-button nzType="primary" (click)="search()">
                    <i nz-icon nzType="search"></i>搜索
                </button>
                <button nz-button nzType="default" role="button" (click)="reset()">
                    <i nz-icon nzType="close"></i>重置
                </button>
            </div>
        </div>
    </section>

    <section class="table-section">
        <nz-table class="table" #basicTable [nzData]="tableData$|async" [nzFrontPagination]="false" [nzTotal]="total"
            [(nzPageSize)]="tableConfig.pageSize" [(nzPageIndex)]="tableConfig.pageIndex"
            [nzLoading]="tableLoadingToggle" (nzQueryParams)="onQueryParamsChange($event)" [nzShowQuickJumper]="true">
            <thead>
                <tr>
                    <th>违规编号</th>
                    <th>举报用户</th>
                    <th>被举报用户</th>
                    <th>举报内容</th>
                    <th>举报时间</th>
                    <th>处理结果</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.uid }}</td>
                    <td>{{ data.nickname }}</td>
                    <td>{{ moment(data.registertime).format('YYYY/MM/DD') }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td (click)="navigateToDetail(data.uid)"><a>查看详情</a></td>
                </tr>
            </tbody>
        </nz-table>
    </section>
</main>