nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .header{
    background-color: #5584FF;height: 50px;
  }

 
.inner-layout{
  position: relative;
  & .collapsed-button{
    position: absolute;
    top:0;
    left: 0;
  }
}

