<section *ngrxLet="param$; let data" class="section-detail">
    <div class="title">
        <div class="title-left">
            <button nz-button nzType="primary" (click)="backToList()"><i nz-icon nzType="left"></i>返回</button>
            <p>用户管理-用户列表</p>
        </div>
        <div>
            <div *ngIf="status === 0">
                <button nz-button nzType="danger" (click)="onBanUser('UserBanned',data)">封禁用户</button>
            </div>

            <div *ngIf="status === 1">
                <button nz-button nzType="primary" (click)="onReleaseUser('UserBannedRelease',data)">解封用户</button>
            </div>
        </div>
    </div>

    <div class="information">
        <div class="title">基础信息</div>
        <div class="content">

            <nz-descriptions [nzColumn]="4" nzBordered nzLayout="vertical">
                <nz-descriptions-item nzTitle="用户名称">

                    {{data.base_info.nickname}}


                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="用户ID">{{data.base_info.uid}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="注册时间">{{moment(data.base_info.register_time).format('YYYY/MM/DD')}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="绑定邮箱">{{data.base_info.email}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="绑定手机">{{data.base_info.phone}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="支付密码"></nz-descriptions-item>
                <nz-descriptions-item nzTitle="实名认证">{{data.base_info.authentication_result}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="钱包余额"></nz-descriptions-item>
            </nz-descriptions>

        </div>
    </div>


    <div class="information">
        <div class="title title-person">个人信息</div>
        <div class="content">

            <nz-descriptions [nzColumn]="4" nzBordered [nzSize]="'middle'" nzLayout="vertical">
                <nz-descriptions-item nzTitle="用户头像">
                    <div style="width: 100px;height: 100px;border-radius: 50%;background-color: blue;"></div>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="个人主页背景图片">
                    <div style="width: 200px;height: 100px;background-color: blue;"></div>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="个性签名">

                </nz-descriptions-item>
            </nz-descriptions>

        </div>
    </div>

    <div class="information">
        <div class="title">账号状态</div>
        <div class="content">

            <nz-descriptions [nzColumn]="4" nzBordered nzLayout="vertical">
                <nz-descriptions-item nzTitle="账号状态">{{data.state.user_status}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="封禁时长">{{data.state.day}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="封禁日期">
                    {{data.state.start_time !== null ? moment(data.state.start_time).format('YYYY/MM/DD'):'没封禁'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="解除封禁日期">
                    {{data.state.end_time !== null ? moment(data.state.end_time).format('YYYY/MM/DD'):'没封禁'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="封禁理由">{{data.state.description}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="封禁记录">
                    <!-- createComponentModal(modalType:Modal, content:any, layout:[width:number, height:string]) -->
                    <a (click)="createComponentModal('BannedRecord',data.base_info.uid,[1000,'600px'])">封禁记录</a>
                </nz-descriptions-item>
            </nz-descriptions>

        </div>
    </div>


    <div class="information">
        <div class="title">实名认证信息</div>
        <div class="content">

            <nz-descriptions [nzColumn]="2" nzBordered nzLayout="vertical">
                <nz-descriptions-item nzTitle="真实姓名">qweqwewqe{{data.identity.realname}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="身份证号">qweqwewqwe{{data.identity.cardno}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions [nzColumn]="3" nzBordered nzLayout="vertical">
                <nz-descriptions-item nzTitle="手持身份证照片">123</nz-descriptions-item>
                <nz-descriptions-item nzTitle="身份证正面照片">123</nz-descriptions-item>
                <nz-descriptions-item nzTitle="身份证反面照片">123</nz-descriptions-item>
            </nz-descriptions>
        </div>
    </div>
</section>

<section class="section-arts">
    <div class="nav">
        <nz-radio-group nzButtonStyle="solid">
            <label nz-radio-button class="review__menu-nav-button" [nzValue]="0">登录记录</label>
            <label nz-radio-button class="review__menu-nav-button" [nzValue]="1">已发布作品</label>
            <label nz-radio-button class="review__menu-nav-button" [nzValue]="2">待审核作品</label>
            <label nz-radio-button class="review__menu-nav-button" [nzValue]="3">审核失败作品</label>
        </nz-radio-group>
    </div>

    <div class="searchbar">

        <div nz-row [nzGutter]="8" nzJustify="space-around">

            <div class="searchbar-div" nz-col nzSpan="4">
                <label>作品ID：</label>

                <input nz-input OnlyNumber="true" class="review__menu-searchbar-item_input" placeholder="请输入" />
            </div>
            <div class="searchbar-div" nz-col nzSpan="4">
                <label>作品名称：</label>
                <input nz-input class="review__menu-searchbar-item_input" placeholder="请输入" />
            </div>
            <div class="searchbar-div" nz-col nzSpan="6">
                <div>
                    <label>开始时间</label>
                    -
                    <label>结束时间</label>
                </div>
                <div>
                    <nz-date-picker class="date-input" nzFormat="yyyy/MM/dd" nzPlaceHolder="Select Time" name="st">
                    </nz-date-picker>
                    --
                    <nz-date-picker class="date-input" nzFormat="yyyy/MM/dd" nzPlaceHolder="Select Time" name="et">
                    </nz-date-picker>
                </div>
            </div>
            <div class="searchbar-div" nz-col nzSpan="4">
                <label>作品类型：</label>
                <nz-select class="item_input">
                    <nz-option [nzValue]="-1" nzLabel="全部"></nz-option>
                    <nz-option [nzValue]="0" nzLabel="Live2D"></nz-option>
                    <nz-option [nzValue]="1" nzLabel="立绘"></nz-option>
                </nz-select>
            </div>
            <div class="searchbar-div" nz-col nzSpan="4">
                <label>作品分类：</label>
                <nz-select class="item_input">
                    <nz-option [nzValue]="-1" nzLabel="全部"></nz-option>
                    <nz-option [nzValue]="0" nzLabel="作品"></nz-option>
                    <nz-option [nzValue]="1" nzLabel="商品"></nz-option>
                    <nz-option [nzValue]="2" nzLabel="出售过的商品"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="searchbar-confirm">
            <button nz-button nzType="primary">
                <i nz-icon nzType="search"></i>搜索
            </button>
            <button nz-button nzType="default" role="button">
                <i nz-icon nzType="close"></i>重置
            </button>
        </div>
    </div>
    <nz-table class="table" #basicTable [nzData]="tableData$ | async" [nzFrontPagination]="false" [nzTotal]="total"
        [nzPageSize]="tableConfig.pageSize" [nzPageIndex]="tableConfig.pageIndex" [nzLoading]="tableLoadingToggle"
        (nzQueryParams)="onQueryParamsChange($event)" [nzShowQuickJumper]="true">
        <thead>
            <tr>
                <th>作品ID</th>
                <th>作品名称</th>
                <th>提交用户</th>
                <th>提交时间</th>
                <th>作品分类</th>
                <th>作品类型</th>
                <th>附件内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>
                    123
                </td>
                <td>123</td>
                <td>123</td>
            </tr>
        </tbody>
    </nz-table>
</section>