main{
    padding: 10px 20px;
    padding-bottom: 30px;
    &>.detail-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:0 0;
        &>.detail-title-left{
            // width: 200px;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;

        }
      
        &>.detail-title-left p{
            padding-left: 20px;
            margin-bottom: 0;
        }
    }
    &>.review-officer{
        border: 1px solid rgb(192, 189, 189);
        border-radius: 3px;
        margin-top:20px;
        &>.officer-div{
            padding:20px 20px;
        }
    }
  


    /********************************************/
    .work-detail-section{
        display: flex;
        justify-content: space-evenly;

        &>.section-right{
            width: 50%;
            padding-left: 10px;
        }
        &>.section-left,&>.section-right{
            &>.review-information{
              
                border: 1px solid #e0e0e0;
                margin-top: 20px;
                border-radius: 3px;
                &>.review-information-title{
                    padding: 0 20px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #e0e0e0;
                    font-size: 16px;
                }
                &>.review-information-content{
                    padding:20px 20px;
                }
            }
        
            &>.details{
                border-radius: 3px;
                margin-top: 20px;
                border: 1px solid  #e0e0e0;
                &>.detail-title{
                
                }
                &>.details-intro{
                    padding: 20px 20px;
                }
            }
        }
    }
  
    &>.cooperate-section{
        margin-top:20px;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        &>.cooperate-description{
            padding:20px 20px;     
        }
    }

    &>.goods-info{
        display: flex;
        justify-content: space-evenly;
        &>.goods-right{
            width: 50%;
            padding-left: 10px;
        }
        &>.goods-left,&>.goods-right{
           
            
            &>.goods-item{
                margin-top:20px;
                border: 1px solid #e0e0e0;
                border-radius: 3px;
                &>.goods-item-content{
                    padding:20px 20px;
                }
            }
        }
        
    }
}


/***************extra*************************************/
.modalDeclineInput{
    width: 470px;
    height:100px;
}

.first-button{
    margin-right: 20px;

}

.left-extend{
    width: 100%;
    padding-right:0;
}
.left-split{
    width: 50%;
    padding-right:10px;
}

.img-cover-div{
    width: 300px;
    height:300px;
    position: relative;
    &>.img-cover{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:auto;
        border-radius: 4px;
        padding:5px;
        border: 1px solid #ddd;
    }
}

.img-series-div{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 100%;
    flex-wrap: wrap;
    &>.img-series{
       position: relative;
       width: 25%;
       background-color: white;
       box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
       padding-top: 25%;
       margin-right: 10px;
       margin-top: 10px;
  
       &>.img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

       }
    }
}


