section{
    padding: 0 20px;
    &>.detail-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:0 20px;
    }
    &>.review-officer{
        padding:20px 20px;
        border: 1px solid black;
    }
    &>.review-information{
        padding:20px 20px;
        border: 1px solid black;
        margin-top: 20px;
    }
    &>.details{
        margin-top: 20px;
        border: 1px solid black;
        &>.detail-title{
            padding:0 20px;
            border-bottom: 1px solid black ;
        }
        &>.details-intro{
        
            padding: 20px 30px;
            
            &>.details-image{
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                & img{
                    width: 400px;
                    height: 300px;
                    background-color: red;
                }
            }
            &>.details-download{
                display: flex;
                flex-direction: row;
                
            }
        }
    }
 
}
.modalDeclineInput{
    width: 470px;
    height:100px;
}





